body {
    color: rgb(20, 40, 95);
    font-family: "Lucida Console", "Monaco","Courier New";
}
ol {
    font-family: Arial;
}
h1,
h2,
h3 {
    color: rgb(218, 144, 35);
    font-weight: bold;
}
a {
    color : black;
}